/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- */


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


/* ----- Variables ----- */
* {
	/* colores primarios*/
	--dark-cyan: hsl(158, 36%, 37%);
	--cream-color: rgb(242, 235, 227)
	/* colores neutrales*/
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white-color: hsl(0, 0%, 100%);
	/* fuentes */
	--fraunces-family: 'Fraunces', serif;
	--montserrat-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */


body {
	font-family: var(--montserrat-family);
	display: grid;
	place-items: center;
	background-color: #F2EAE3;
	min-height: 100dvh;
	padding: 1rem;
}

.card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #FEFFFF;
	max-width: 600px;
	border-radius: 0.5rem;

	@media (max-width: 650px) {
		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 1fr;
		max-width: 375px;
	}
}

.img-container {
	display: grid;
	place-items: center;
	border-radius: 0.5rem 0 0 0.5rem;
	background-image: url(../images/image-product-desktop.jpg);
	background-position: initial;
	background-size: cover;

	@media (max-width: 650px){
		height: auto;
		min-height: 250px;
		max-height: 250px;
		border-radius: 0.5rem 0.5rem 0 0;
		max-width: 400px;
		background-image: url(../images/image-product-mobile.jpg);
		background-position: center;
		background-size: cover;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1.5rem;

	h1, h2 {
		font-family: var(--fraunces-family);
	}

	h3, p {
		color: var(--dark-grayish-blue);
	}

	p {
		text-wrap: pretty;
	}

	.titles {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		h1 {
			font-size: 2rem;
			text-wrap: balance;
		}

		h3 {
			letter-spacing: 5px;
			font-weight: 100;
			font-size: medium;
			text-transform: uppercase;
		}

		@media (max-width: 650px) {
			gap: 0.5rem;
			
			h3 {
				font-size: small;
			}
		}
	}

	@media (max-width: 650px) {
		padding: 1.25rem;
		gap: 1rem;
	}
}

.price {
	display: flex;
	align-items: center;
	gap: 1.5rem;

	h2 {
		font-size: 2rem;
		color: var(--dark-cyan);
	}

	p {
		font-size: smaller;
		text-decoration: line-through;
	}
}

.cart {
	border: none;
	border-radius: 0.5rem;
	display: flex;
	gap: 1rem;
	color: #ECFEF5;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-cyan);
	padding: 1rem 3rem;
	font-weight: 900;
	font-family: inherit;
}

.cart:hover {
	background-color: #1A4130;
	cursor: pointer;
}