/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ......................... 12
2. Variables ...................... 16
3. Estilos generales .............. 27
-------------------- */

/* ----- Fuente ----- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ----- Variables ----- */
* {
    --primary-font-family: "Poppins", sans-serif;
    --body-bg-color: #eef2f9;
    --btn-bg-color: #4788e9;
    --text-color: #191847;
    --white-color: #ffffff;
    --black-color: #000000;
    --font-size: 1rem;
    --lh-text: 22px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
    font-family: var(--primary-font-family);
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-size: var(--font-size);
    line-height: var(--lh-text);
    min-height: 100dvh;
    display: grid;
    place-items: center;
    padding: 4rem;

    @media (max-width: 800px) {
        padding: 2rem;
    }
}

h1 {
    text-wrap: balance;
}

.card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding: 4rem;
    background-color: var(--white-color);
    box-shadow: 0px 10px 20px 0px rgb(160 174 227 / 40%);
    border-radius: 0.75rem;
    max-width: 775px;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        padding: 2rem;
    }
}

.card-img {
    width: 100%;

    img {
        width: 100%;
        max-width: 250px;

        object-fit: cover;
    }

    @media (max-width: 800px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;

    .tag {
        background-color: var(--text-color);
        color: var(--white-color);
        padding: 0.15rem 0.45rem;
        border-radius: 2rem;
        font-weight: 500;
        font-size: 0.75rem;
    }

    .title {
        line-height: 1.5;
        font-size: 1.5rem;
        font-weight: 600;

        @media (max-width: 500px) {
            font-size: 1.1rem;
        }
    }
}

.price {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    gap: 1rem;

    .price__old {
        font-weight: 400;
        text-decoration: line-through;
        font-size: medium;

        @media (max-width: 500px) {
            font-size: smaller;
        }
    }

    .price__current {
        font-size: 2.5rem;
        font-weight: 900;

        @media (max-width: 500px) {
            font-size: 1.5rem;
        }
    }

    p {
        font-size: smaller;
        color: grey;
        text-wrap: pretty;
    }
}

.buttons {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    .add-to-cart-primary {
        background-color: var(--btn-bg-color);
        font-family: inherit;
        color: var(--white-color);
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        font-weight: 400;
        font-size: 0.9rem;
        border: none;
        cursor: pointer;
        box-shadow: 0 6px 0 #1b57ec;
    }

    .units {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 600;
        font-size: 0.9rem;
    }

    .units::before {
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #01da8e;
    }
}

.actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    button {
        background-color: var(--white-color);
        font-family: inherit;
        color: var(--text-color);
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        font-weight: 500;
        font-size: 0.9rem;
        border: 1px solid #19184767;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        i {
            font-size: 1.25rem;
        }
    }

    @media (max-width: 550px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}
