/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;700;800&display=swap");

/* ----- Fuente ----- */
* {
    --font: "Hanken Grotesk", sans-serif;
    --light-red: hsl(0, 100%, 67%);
    --light-red-bg: hsla(0, 100%, 67%, 0.06);
    --orangey-yellow: hsl(39, 100%, 56%);
    --orangey-yellow-bg: hsl(39, 100%, 56%, 0.06);
    --green-teal: hsl(166, 100%, 37%);
    --green-teal-bg: hsla(166, 100%, 37%, 0.06);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue-bg: hsla(234, 85%, 45%, 0.06);

    /* Colores gradientes */

    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* Colores neutrales */

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
    font-family: var(--font);
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

body {
    background-color: var(--white);
    display: grid;
    place-items: center;
    min-height: 100dvh;
    width: 100%;
    padding: 2rem;

    @media (max-width: 725px) {
        padding: 1rem;
    }
}

p {
    color: var(--light-lavender);
}

.card {
    display: grid;
    grid-template-columns: 300px 325px;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 2px 10px 16px 5px rgba(0, 0, 0, 0.1);

    @media (max-width: 725px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

.grades {
    display: flex;
    padding: 2.5rem;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    border-radius: 1rem;
    background: linear-gradient(
        180deg,
        var(--light-slate-blue),
        var(--light-royal-blue)
    );
    text-align: center;
    text-wrap: pretty;

    h2 {
        color: var(--light-lavender);
        font-weight: 700;
        font-size: 1.15rem;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
            color: var(--white);
            font-weight: 500;
            font-size: 1.5rem;
        }
    }

    .circle-grade {
        color: var(--white);
        display: flex;
        flex-direction: column;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        justify-content: center;
        background: linear-gradient(
            180deg,
            var(--violet-blue),
            var(--persian-blue)
        );
        font-weight: 700;

        h2 {
            color: var(--white);
            font-size: 4rem;
        }

        p {
            color: var(--light-slate-blue);
        }
    }

    @media (max-width: 725px) {
        gap: 1rem;
    }
}

.summary {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 3rem;
    align-items: center;
    border-radius: 1rem;

    h1 {
        color: var(--dark-gray-blue);
        font-weight: 800;
        font-size: 1.15rem;
        align-self: flex-start;
    }

    .fields {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .field {
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 1rem;
        gap: 0.5rem;
        align-items: center;
        border-radius: 0.5rem;

        .icon {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: 600;
        }

        .result {
            display: flex;
            align-items: center;
            color: var(--dark-gray-blue);
            font-weight: 800;

            span {
                color: gray;
            }
        }
    }

    .field:nth-child(1) {
        color: var(--light-red);
        background-color: var(--light-red-bg);
    }

    .field:nth-child(2) {
        color: var(--orangey-yellow);
        background-color: var(--orangey-yellow-bg);
    }

    .field:nth-child(3) {
        color: var(--green-teal);
        background-color: var(--green-teal-bg);
    }

    .field:nth-child(4) {
        color: var(--cobalt-blue);
        background-color: var(--cobalt-blue-bg);
    }

    @media (max-width: 725px) {
        padding: 1.5rem;
        gap: 1.5rem;
    }
}

.continue {
    display: grid;
    place-items: center;
    padding: 0.75rem 2.5rem;
    border-radius: 3rem;
    border: none;
    background-color: var(--dark-gray-blue);
    color: var(--white);
    width: 100%;
}

.continue:hover {
    background: linear-gradient(
        180deg,
        var(--light-slate-blue),
        var(--light-royal-blue)
    );
    cursor: pointer;
}
